.nav-link:hover{
    animation: hoverEffect 5s infinite linear;
    
}
.nav-link{
    font-family: 'Mochiy Pop P One', sans-serif;
}

@keyframes hoverEffect {
    0%{
        color: rgb(32, 147, 241);
        transform: scale(0.9);
    }
    50%{
        color: rgb(32, 147, 241);
        transform: scale(0.7);
    }
    100%{
        color: rgb(32, 147, 241);
        transform: scale(0.5);
    }
    
}